<div>
  <h3>
    Address information
  </h3>
  <p>
    This information is used for forecasting algorithms
    and optimising data storage
  </p>
  <p>
    A general idea of your location is good enough, for example at the city level.
  </p>

  <div class="geoearth-container hidden">
    {% if use_geocode_earth_api_directly %}
    <script type="module" src="/cofybox-config-ui/static/js/geocodeEarthAutocomplete.js">
    </script>
    <ge-autocomplete api_key="{{geocode_earth_api_key}}">
    </ge-autocomplete>
    {% else %}
    <script type="module" src="/cofybox-config-ui/static/js/geocodeEarthAutocompleteViaBackend.js">
    </script>
    <ge-autocomplete api_key="ge-redactedredactedr">
    </ge-autocomplete>
    {% endif %}
  </div>

  <div style="height:30px"></div>

  <div class="mdc-card__actions position-absolute bottom-0 end-0">
    <button class="mdc-button mdc-card__action mdc-card__action--button address-submit-button" disabled>
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Submit</span>
    </button>
  </div>
</div>
</div>

<script src="/cofybox-config-ui/static/js/wizardStep.js"></script>

<script>
  const autocompleteElement = document.querySelector('ge-autocomplete');

  let chosenLocation;
  // 'select' event handler - when a user selects an item from the suggestions
  autocompleteElement.addEventListener('select', (event) => {
    const coordinates = event.detail['geometry']['coordinates'];
    chosenLocation = {
      latitude: coordinates[1],
      longitude: coordinates[0],
    };
  });

  autocompleteElement.addEventListener('error', (event) => {
    console.error(3, event.detail, event);
  });

  let shouldUpdateToFirstOption = false;
  autocompleteElement.addEventListener('features', (event) => {
    if (shouldUpdateToFirstOption && event.detail[0]) {
      const coordinates = event.detail[0]['geometry']['coordinates'];
      chosenLocation = {
        latitude: coordinates[1],
        longitude: coordinates[0],
      };
      shouldUpdateToFirstOption = false;
    }
  });


  const addressSubmitButton = document.querySelectorAll('.address-submit-button')[0];

  const apiGetUrl = window.location.href.replace('wizard/address', 'api/location-name');
  const apiPostUrl = window.location.href.replace('wizard/address', 'api/location');
  const redirectUrl = window.location.href.replace('address', 'timezone');

  fetch(apiGetUrl)
    .then(response => response.json())
    .then((data) => {
      if (data) {
        shouldUpdateToFirstOption = true;
        autocompleteElement.value = data;
      }
    }).then(() => {
      document.querySelector('.geoearth-container').classList.remove('hidden');
      addressSubmitButton.disabled = false;
    }).then(() => {
      addressSubmitButton.addEventListener('click', () => {
        const data = {
          location_latitude: chosenLocation.latitude,
          location_longitude: chosenLocation.longitude
        };
        return fetch(apiPostUrl, {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(() => {
          window.location.assign(redirectUrl);
        });
      });
    });
</script>