<div>
  <h3>
    All done!
  </h3>
  <p>
    Wizard complete. Click below to go to the main page.
  </p>

  <div class="mdc-card__actions position-absolute bottom-0 end-0">
    <a class="finish-link" href="/">
      <button class="mdc-button mdc-card__action mdc-card__action--button">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Finish</span>
      </button>
    </a>
  </div>
</div>

<script>
  const redirectUrl = window.location.href.replace('wizard/end', '');
  document.querySelectorAll('.finish-link')[0].href = redirectUrl;
</script>
