<div>
  <h3>
    Solar
  </h3>
  <p>
    This information is used to do solar forecasting.
  </p>


  <p>
    Do you have a solar array which you would like to integrate with the cofybox?<br/>
    <div><input id="has-solar-input" type="radio" name="solar" value="yes" class="m-1" checked><label for="has-solar-input">Yes</label></div>
    <div><input id="has-no-solar-input" type="radio" name="solar" value="no" class="m-1"><label for="has-no-solar-input">No</label></div>
  </p>

  <div class="mdc-card__actions position-absolute bottom-0 end-0">
    <button class="mdc-button mdc-card__action mdc-card__action--button has-solar-submit-button" disabled>
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Submit</span>
    </button>
  </div>
</div>

<script src="/cofybox-config-ui/static/js/wizardStep.js"></script>

<script>
  const hasSolarSubmitButton = document.querySelectorAll('.has-solar-submit-button')[0];
  const hasSolarInput = document.querySelectorAll('#has-solar-input')[0];
  const apiUrl = window.location.href.replace('wizard', 'api');

  fetch(apiUrl)
    .then(response => response.json())
    .then(data => {
      hasSolarInput.checked = data.has_solar;
      hasSolarSubmitButton.disabled = false;
      hasSolarInput.classList.remove('hidden');
    })
    .then(() => {
      hasSolarSubmitButton.addEventListener('click', (e) => {
        e.preventDefault();
        const data = {
          has_solar: hasSolarInput.checked
        };
        return fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(() => {
          let redirectUrl;
          if (hasSolarInput.checked) {
            redirectUrl = window.location.href.replace('has-solar', 'solar-config');
          } else {
            redirectUrl = window.location.href.replace('has-solar', 'end');
          };
          window.location.assign(redirectUrl);
        });
      });
    });
</script>
