<div>
  <h3>
    Language information
  </h3>
  <p>
    This information is used for displaying information in your own language
  </p>

  <select id="language-select" disabled class="hidden">
    {% for language in languages %}
    <option value="{{language.code}}">
      {{language.display_name}}
    </option>
    {% endfor %}
  </select>

  <div style="height:30px"></div>

  <div class="mdc-card__actions position-absolute bottom-0 end-0">
    <button class="mdc-button mdc-card__action mdc-card__action--button language-submit-button" disabled>
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Submit</span>
    </button>
  </div>
</div>
</div>

<script src="/cofybox-config-ui/static/js/slimselect-1.27.1.min.js"></script>
<link href="/cofybox-config-ui/static/css/slimselect-1.27.1.min.css" rel="stylesheet">

<script src="/cofybox-config-ui/static/js/wizardStep.js"></script>

<script>
  const languageSubmitButton = document.querySelectorAll('.language-submit-button')[0];
  const languageInput = document.querySelectorAll('#language-select')[0];

  let canAccessGeolocationApi = false;

  const autocompleteUrl = window.location.href.replace('wizard/language', 'v1/autocomplete?text=amsterdam');
  fetch(autocompleteUrl)
    .then(response => {
      if (response.status == 200) {
        return response.json()
          .then(data => {
            if (data.meta && data.meta.status_code !== 200) {
              canAccessGeolocationApi = false;
            } else {
              canAccessGeolocationApi = true;
            };
          });
      };
    });

  const apiUrl = window.location.href.replace('wizard', 'api');

  fetch(apiUrl)
    .then(response => response.json())
    .then(data => {
      const slimSelectObject = setupSlimSelectWithValue(languageInput, data.language);
      languageSubmitButton.disabled = false;
    })
    .then(() => {
      languageSubmitButton.addEventListener('click', (e) => {
        e.preventDefault();
        const data = {
          lang: languageInput.value
        };
        return fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(() => {
          let redirectUrl;
          if (canAccessGeolocationApi) {
            redirectUrl = window.location.href.replace('language', 'address');
          } else {
            redirectUrl = window.location.href.replace('language', 'location');
          };
          window.location.assign(redirectUrl);
        });
      });
    });
</script>