<div>
  <h3>
    Address information
  </h3>
  <p>
    This information is used for forecasting algorithms
    and optimising data storage
  </p>
  <p>
    To find your latitude and longitude, you can right click on
    your approximate location in Google Maps, use an online search
    such as <a href="https://latlong.net">latlong.net</a>,
    or use the Compass app on the iPhone and then convert it to
    decimal using an online converter.
  </p>
  <p>
    A general idea of your location is good enough, for example at the city level.
  </p>

  {% for field in ["Latitude", "Longitude"] %}
  <div class="row field-row hidden">
    <div class="col-4 label-div">
      <label id="{{field}}-label" for="{{field}}">{{field}}</label>
    </div>
    <div class="col-7 mdc-text-field mdc-text-field--filled shrink-material-input">
      <span class="mdc-text-field__ripple"></span>
      <input id="{{field}}" class="mdc-text-field__input" type="number" inputtype="decimal" step="0.000001"
        aria-labelledby="{{field}}-label">
      <span class="mdc-line-ripple"></span>
    </div>
  </div>
  {% endfor %}

  <div style="height:30px"></div>

  <div class="mdc-card__actions position-absolute bottom-0 end-0">
    <button class="mdc-button mdc-card__action mdc-card__action--button location-submit-button" disabled>
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Submit</span>
    </button>
  </div>
</div>
</div>

<script src="/cofybox-config-ui/static/js/wizardStep.js"></script>

<script>
  const locationSubmitButton = document.querySelectorAll('.location-submit-button')[0];
  const latitudeInput = document.querySelectorAll('#Latitude')[0]
  const longitudeInput = document.querySelectorAll('#Longitude')[0]
  const fieldRows = Array.from(document.querySelectorAll('.field-row'))
  const apiUrl = window.location.href.replace('wizard', 'api');
  const redirectUrl = window.location.href.replace('location', 'timezone');

  fetch(apiUrl)
    .then(response => response.json())
    .then((data) => {
      fieldRows.forEach(row => row.classList.remove('hidden'))
      latitudeInput.value = data.location_latitude;
      longitudeInput.value = data.location_longitude;

      locationSubmitButton.disabled = false;
    })
    .then(() => {
      locationSubmitButton.addEventListener('click', (e) => {
        e.preventDefault();
        const data = {
          location_latitude: latitudeInput.value,
          location_longitude: longitudeInput.value
        };
        return fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(() => {
          window.location.assign(redirectUrl);
        });
      });
    });
</script>