<div>
  <h3>
    Solar information
  </h3>
  <p>
    This information is used to do solar forecasting
  </p>
  <p>
    If you don't know these values now, feel free to skip and come back to this later.
  </p>

  <!-- Azimuth -->
  <div class="row field-row hidden">
    <div class="col-4 label-div">
      <label id="azimuth-label" for="azimuth"><strong>Azimuth</strong></label>
      <p>Angle from 0° (North) where 90° is East</p>
    </div>

    <div class="col-7">
      <span class="mdc-text-field mdc-text-field--filled shrink-material-input">
        <span class="mdc-text-field__ripple"></span>
        <input id="azimuth" class="mdc-text-field__input azimuth-outlet" value=0 type="number" inputtype="integer"
          aria-labelledby="azimuth-label" max=360>
        <span class="mdc-line-ripple"></span><span>°</span>
      </span>
    </div>
  </div>
  
  <!-- Declination -->
  <div class="row field-row hidden">
    <div class="col-4 label-div">
      <label id="azimuth-label" for="azimuth"><strong>Declination</strong></label>
      <p>Angle between 0° (horizontal) and 90° (vertical)</p>
    </div>

    <div class="col-7">
      <span class="mdc-text-field mdc-text-field--filled shrink-material-input">
        <span class="mdc-text-field__ripple"></span>
        <input id="declination" class="mdc-text-field__input" type="number" inputtype="integer"
          aria-labelledby="declination-label">
        <span class="mdc-line-ripple"></span><span>°</span>
      </span>
    </div>
  </div>
  
  <!-- Max_power_output -->
  <div class="row field-row hidden">
    <div class="col-4 label-div">
      <label id="max_power_output-label" for="max_power_output"><strong>Max power output</strong></label>
      <p>Maximum power output of solar array in Watts</p>
    </div>

    <div class="col-7">
      <span class="mdc-text-field mdc-text-field--filled shrink-material-input" style="padding:0px 11px">
        <span class="mdc-text-field__ripple"></span>
        <input id="max_power_output" class="mdc-text-field__input" type="number" inputtype="integer"
          aria-labelledby="max_power_output-label">
        <span class="mdc-line-ripple"></span><span>W</span>
      </span>
    </div>
  </div>

  <div style="height:30px"></div>

  <div class="mdc-card__actions position-absolute bottom-0 end-0">
    <button class="mdc-button mdc-card__action mdc-card__action--button solar-config-submit-button" disabled>
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Submit</span>
    </button>
  </div>
</div>
</div>

<script src="/cofybox-config-ui/static/js/wizardStep.js"></script>

<script>
  const solarConfigSubmitButton = document.querySelectorAll('.solar-config-submit-button')[0];
  const azimuthInput = document.querySelectorAll('#azimuth')[0]
  const declinationInput = document.querySelectorAll('#declination')[0]
  const maxPowerOutputInput = document.querySelectorAll('#max_power_output')[0]
  const fieldRows = Array.from(document.querySelectorAll('.field-row'))
  const apiUrl = window.location.href.replace('wizard', 'api');
  const redirectUrl = window.location.href.replace('solar-config', 'end');

  fetch(apiUrl)
    .then(response => response.json())
    .then((data) => {
      fieldRows.forEach(row => row.classList.remove('hidden'))

      azimuthInput.value = data.azimuth;
      declinationInput.value = data.declination;
      maxPowerOutputInput.value = data.max_power_output;

      solarConfigSubmitButton.disabled = false;
    })
    .then(() => {
      solarConfigSubmitButton.addEventListener('click', (e) => {
        e.preventDefault();
        const data = {
          azimuth: azimuthInput.value,
          declination: declinationInput.value,
          max_power_output: maxPowerOutputInput.value
        };

        function replacer (key, input) {
          if (typeof input === "string" && input.trim().length == 0) {
            return null
          }
          return input
        };

        return fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data, replacer)
        }).then(() => {
          window.location.assign(redirectUrl);
        });
      });
    });
</script>
