<div>
  <h3>
    Welcome to your cofybox
  </h3>
  <p>
    This wizard will help you setup your
    Cofybox. It should only take a few
    minutes.
  </p>

  <div class="mdc-card__actions position-absolute bottom-0 end-0">
    <a href="wizard/language">
      <button class="mdc-button mdc-card__action mdc-card__action--button">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Start</span>
      </button>
    </a>
  </div>
</div>