<div>
  <h3>
    Timezone information
  </h3>
  <p>
    This information is used to record and display your data
    in a usable way.
  </p>

  <select id="timezone-select" disabled class="hidden">
    {% for group, timezones in timezone_options_by_group.items() %}
    <optgroup label="{{group}}">
      {% for timezone in timezones %}
      <option value="{{timezone}}">
        {{timezone}}
      </option>
      {% endfor %}
    </optgroup>
    {% endfor %}
  </select>

  <div class="mdc-card__actions position-absolute bottom-0 end-0">
    <button class="mdc-button mdc-card__action mdc-card__action--button timezone-submit-button" disabled>
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Submit</span>
    </button>
  </div>
</div>

<script src="/cofybox-config-ui/static/js/slimselect-1.27.1.min.js"></script>
<link href="/cofybox-config-ui/static/css/slimselect-1.27.1.min.css" rel="stylesheet">

<script src="/cofybox-config-ui/static/js/wizardStep.js"></script>

<script>
  const timezoneSubmitButton = document.querySelectorAll('.timezone-submit-button')[0];
  const timezoneInput = document.querySelectorAll('#timezone-select')[0];
  const apiUrl = window.location.href.replace('wizard', 'api');
  const redirectUrl = window.location.href.replace('timezone', 'has-solar');

  fetch(apiUrl)
    .then(response => response.json())
    .then(data => {
      const slimSelectObject = setupSlimSelectWithValue(timezoneInput, data.timezone);
      timezoneSubmitButton.disabled = false;
    })
    .then(() => {
      timezoneSubmitButton.addEventListener('click', (e) => {
        e.preventDefault();
        const data = {
          timezone: timezoneInput.value
        };
        return fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(() => {
          window.location.assign(redirectUrl);
        });
      });
    });
</script>