<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{{webpage_title}}</title>
    <link href="/cofybox-config-ui/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
</head>

<body>
    <div class="container">
        <header class="bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="#" class="nav-link px-2 text-secondary">{{Home}}</a></li>
                        <li><a href="#user" class="nav-link px-2 text-white">{{User}}</a></li>
                        <li><a href="#cloud" class="nav-link px-2 text-white">{{Cloud}}</a></li>
                        <li><a href="#control" class="nav-link px-2 text-white">{{Control}}</a></li>

                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="container p-2 bg-light rounded">
                <div class="row gy-5 justify-content-center p-1">
                    <div class=" col p-1 border-bottom border-5">
                        <h4>Device info</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="col">UUID</th>
                                    <td>{{cofyboxinfo.uuid}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Friendly name</th>
                                    <td>{{cofyboxinfo.friendlyname}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">cofy-cloud connection status</th>
                                    <td>{{cofyboxinfo.cofycloud.status}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Wifi (client) IP</th>
                                    <td>{{cofyboxinfo.network.wifi_client_ip}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Wifi (client) AP SSID</th>
                                    <td>{{cofyboxinfo.network.wifi_client_ap}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Wired (ethernet) IP</th>
                                    <td>{{cofyboxinfo.network.wired_ip}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Wifi (hotspot) AP SSID</th>
                                    <td>{{cofyboxinfo.network.wifi_hotspot_ap}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center p-1">
                    <a href="/cofybox-config-ui/wizard" class="btn btn-success btn-lg">Quick Start</a>
                </div>
                <div class="row gy-5 justify-content-center p-1">
                    <div class="col p-1 border-bottom border-5" id="user">
                        <h4>User</h4>

                        <form action='./#user' method="post">
                            <div class=" form-group mb-3">
                                <h5>Language</h5>
                                <label for="lang">Select language for config UI.</label>
                                <select class="form-select" id="lang" name="lang">
                                    <option value="en" {% if cofyboxconfig.user.lang=="en" %}selected{% endif %}>
                                        English</option>
                                    <option value="es" {% if cofyboxconfig.user.lang=="es" %}selected{% endif %}>
                                        Español</option>
                                    <option value="fr" {% if cofyboxconfig.user.lang=="fr" %}selected{% endif %}>
                                        Français</option>
                                    <option value="de" {% if cofyboxconfig.user.lang=="de" %}selected{% endif %}>
                                        Deutsch</option>
                                    <option value="nl" {% if cofyboxconfig.user.lang=="nl" %}selected{% endif %}>
                                        'Dutch'</option>
                                </select>
                                <h5>Location</h5>
                                <label for="network_hotspot_name" class="form-label">Latitude</label>
                                <input type="text" class="form-control" id="Latitude" name="location_latitude"
                                    placeholder="{{cofyboxconfig.user.location_latitude}}">
                                <label for="network_hotspot_name" class="form-label">Longitude</label>
                                <input type="text" class="form-control" id="Longitude" name="location_longitude"
                                    placeholder="{{cofyboxconfig.user.location_longitude}}" />
                                <h5>Timezone</h5>
                                <select class="form-select" id="timezone" name="timezone">

                                    <option value="Europe/London" {% if cofyboxconfig.user.timezone=="Europe/London"
                                        %}selected{% endif %}>
                                        Europe/London</option>
                                    <option value="Europe/Brussels" {% if cofyboxconfig.user.timezone=="Europe/Brussels"
                                        %}selected{% endif %}>
                                        Europe/Brussels</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-dark">Save</button>
                        </form>

                    </div>
                </div>
                <div class="row gy-5 justify-content-center p-1 " id="cloud">
                    <div class="col p-1 border-bottom border-5">
                        <h4>Cloud</h4>
                        {% if cofyboxinfo.cofycloud.cloud_space_url is none %}
                        <p>COFYCloud dashboard link not set.</p>
                        {% else %}
                        <a href="{{cofyboxinfo.cofycloud.cloud_space_url}}" target="_blank">COFYCloud dashboard link</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row gy-5 justify-content-center p-1" id="control">
                    <div class="col-12 p-1  border-bottom border-5">
                        <h4>Control</h4>
                        <form action='./#control' method="post">
                            <div class="mb-3">
                                <h6>Energy community: {{cofyboxconfig.control.community}}</h6>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="controlLocal"
                                        name="control_selfcon_option" {% if cofyboxconfig.control.control_selfcon_option
                                        %}checked{%endif%}>
                                    <label class="form-check-label" for="controlLocal">Increase self-consumption</label>
                                    <i class="bi bi-info-circle" style="font-size: 1rem; color: black;"
                                        data-bs-toggle="popover" title="Increase self-consumption"
                                        data-bs-content="Control connected appliances to maximise consumption of on-site generation."></i>
                                </div>

                                <div class="form-check form-switch">
                                    <input class="form-check-input dark" type="checkbox" id="controlCommunity"
                                        name="control_comm_option" {% if cofyboxconfig.control.control_comm_option
                                        %}checked{%endif%} {% if cofyboxconfig.control.control_comm_option is none
                                        %}disabled{%endif%}>
                                    <label class="form-check-label" for="controlCommunity">Balance in community</label>
                                    <i class="bi bi-info-circle" style="font-size: 1rem; color: black;"
                                        data-bs-toggle="popover" title="Balance in community"
                                        data-bs-content="Control connected appliances to balance supply and demand in your energy community."></i>
                                </div>

                                {% if cofyboxconfig.control.control_flex_option is not none %}

                                <div class="form-check form-switch">
                                    <input class="form-check-input dark" type="checkbox" id="controlDSR"
                                        name="control_flex_option" {% if cofyboxconfig.control.control_flex_option
                                        %}checked{%endif%} {% if cofyboxconfig.control.control_flex_option is none
                                        %}disabled{%endif%}>
                                    <label class="form-check-label" for="controlDSR">Flexibility services</label>
                                    <i class="bi bi-info-circle" style="font-size: 1rem; color: black;"
                                        data-bs-toggle="popover" title="Demand side response services"
                                        data-bs-content="Control connected appliances in response to requests for turn down/up from your supplier and/or grid operators."></i>
                                </div>
                                {%endif%}
                                {% if cofyboxconfig.control.control_tariff_option is not none %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="controlTariff"
                                        name="control_tariff_option" {% if cofyboxconfig.control.control_tariff_option
                                        %}checked{%endif%} {% if cofyboxconfig.control.control_tariff_option is none
                                        %}disabled{%endif%}>
                                    <label class="form-check-label" for="controlTariff">Reduce costs under
                                        tariff</label>
                                    <i class="bi bi-info-circle" style="font-size: 1rem; color: black;"
                                        data-bs-toggle="popover" title="Reduce costs under tariff"
                                        data-bs-content="Control connected appliances to reduce the total energy cost subject to your available tariff."></i>

                                </div>

                                <h6>Tariff</h6>
                                <select class="form-select">
                                    <option selected>No tariff</option>
                                    {% if cofyboxconfig.control.available_tariffs is not none %}
                                    {%for tariff in cofyboxconfig.control.available_tariffs %}
                                    <option value={{tariff}}>{{tariff}}</option>
                                    {%endfor%}
                                    {% endif %}
                                    </option>
                                </select>
                                {%endif%}
                            </div>
                            <button type="submit" class="btn btn-dark">Save</button>

                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="/cofybox-config-ui/static/js/bootstrap.bundle.min.js"></script>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
</body>

</html>