<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{{webpage_title}}</title>
    <link href="/cofybox-config-ui/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/cofybox-config-ui/static/css/material-components-web.css" rel="stylesheet">
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
        }

        .container {
            height: 100%;
        }

        main {
            height: 66%;
        }

        .box {
            width: fit-content;
            height: fit-content;
            min-height: 50%;
            min-width: 33%;
            max-width: 700px;
        }

        .shadow {
            box-shadow: rgba(64, 64, 64, 0.15) 0px 0.15rem 1.75rem 0px !important;
        }

        .shrink-material-input {
            height: 2em;
            align-items: flex-end;
        }

        .label-div {
            text-align: right;
        }

        .ss-main .placeholder {
            /* boostrap adds cursor:wait to all placeholders which clashes with simple select */
            cursor: pointer;
            background-color: unset;
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <header class="bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/cofybox-config-ui/#" class="nav-link px-2 text-secondary">{{Home}}</a></li>
                        <li><a href="/cofybox-config-ui/#user" class="nav-link px-2 text-white">{{User}}</a></li>
                        <li><a href="/cofybox-config-ui/#cloud" class="nav-link px-2 text-white">{{Cloud}}</a></li>
                        <li><a href="/cofybox-config-ui/#control" class="nav-link px-2 text-white">{{Control}}</a></li>

                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="d-flex justify-content-center align-items-center" style="height:100%">
                <div class="box card shadow d-flex justify-content-center align-items-center">
                    <div class="card-body">
                        {% if step_name %}
                        {% include "wizard_steps/" + step_name + ".html" %}
                        {% else %}
                        {% include "wizard_steps/start.html" %}
                        {% endif %}
                    </div>
                </div>
        </main>
    </div>

    <script src="/cofybox-config-ui/static/js/bootstrap.bundle.min.js"></script>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
</body>

</html>